<h2>
  被写体の登録が完了しました！
</h2>
</br>
</br>
<%= link_to "登録した被写体を評価する", new_subject_review_path(@subject) %>
</br>
</br>
<%= link_to "この被写体のページへ", subject_path(@subject) %>
</br>
</br>
<a href="/">TOPページへ</a>