            <ul>
              <% @subjects.each do |subject| %>
                <li>
                <%  %>
                  <a href="/subjects/<%= subject.id %>"><div style="height: 300px, width: 300px;"><%= image_tag subject.images.order('created_at ASC').first.image_file.url %></div>
                  <div>
                    <h3><%= subject.name %></h3></a>
                    <% if subject.reviews.present? %>
                      <span class="rate rate<%= (subject.reviews.average(:rate).round(1) * 10).floor %>"></span>
                    <% end %>
                  </div>
                </li>
              <% end %>
              </ul>

                <form accept-charset="utf-8" action="/" method="get">
                </form>