            <ul>
              <% @subjects.each do |subject| %>
                <li>
                  <a href="/subjects/<%= subject.id %>"><div style="background-image:url('http://find-travel.cdn-dena.com/picture/articlebody/84215'); height: 100px; width: 100px;"></div>
                  <div>
                    <h3><%= subject.name %></h3></a>
                    <% if subject.reviews.present? %>
                      <span class="rate rate<%= (subject.reviews.average(:rate).round(1) * 10).floor %>"></span>
                    <% end %>
                  </div>
                </li>
              <% end %>
              </ul>

              <%= form_tag('/subjects/search', method: :get) do %>
                <input name="keyword" placeholder="キーワードで検索" type="text" value=""><button title="検索" type="submit"></button></input>
              <% end %>
                <form accept-charset="utf-8" action="/" method="get">
                </form>