            <% if @subjects.present? %>
              <ul>
                <% @subjects.each do |subject| %>
                  <li>
                    <a href="/subjects/<%= subject.id %>" title="<%= subject.name %>">
                            <div style="background-image: url('http://find-travel.cdn-dena.com/picture/articlebody/84215');" title="<%= subject.name %>"></div>
                          <h3>
                            <span><%= subject.name %></span>
                          </h3>
                    </a>
                  </li>
                <% end %>
              </ul>
            <% else %>
                <p>
                  キーワードに当てはまる被写体はありません。
                </p>
                <a href="/subjects/new">被写体を登録する</a>
            <% end %>