            <div>
              <header>
                <h2>
                  <%= @subject.name %>
                </h2>
              </header>
              <div style="text-align: right">
                <a href="/subjects/<%= @subject.id %>/reviews/new">この被写体の評価をする</a>
              </div>
              <% if @subject.reviews.present? %>
              <% end %>
              <header>
                <h2>
                  みんなのレビュー
                </h2>
              </header>
              <ul style="padding: 0">
                <% @subject.reviews.each do |review| %>
                  <li style="border-bottom: dotted 1px">
                      <h3>
                        <%= review.user.nickname %>
                      </h3>
                      <p>
                        <%= review.comment %>
                      </p>
                  </li>
                <% end %>
              </ul>
            </div>
